.app {
    .top {
        height:30px;
        text-align:center;
        line-height:2.5;
        font-weight:bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }   

    .screenreader-settings 
    {
        display:none;
    }

}